* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

table {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: 0;
  margin: 0 auto;
}
th,
td {
  padding: 10px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.filter {
  text-align: center;
  margin: 0 auto;
}
.search {
  width: 300px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  &:focus {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(2, 2, 240, 0.2);
  }
}
